/* Lieu */
.location {
    @extend %flex;
    background: $c-bg;
    color: $c-bg-txt;
    height: 50px;
    box-shadow: inset 0px 3px 5px $c-bg-shadow;
    i {
        transform: translateX(-25px);
        font-size: 1.1rem;
    }
    p {
        font-size: 0.9rem;
        transform: translateX(-5px);
    }
}

/* Explorer */
.explore {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin: auto;
    background: $c-explore-bg;
    text-align: center;
    h1 {
        padding: 40px 55px 20px 55px;
        font-size: 1.3rem;
    }
    p {
        color: $c-bg-txt;
        padding: 0 40px;
        font-size: .8rem;
    }
    button {
        margin: 35px 0 0 0;
        padding: 0 20px;
        border-radius: 50px;
        box-shadow: $c-bg-shadow 0px 5px 3px;
    }
}

/* Fonctionnement */
.how-to {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 65px;
    h1 {
        padding-left: 20px;
        font-size: 1.1rem;
    }
    .guide-how-to {
        display: flex;
        align-items: center;
        width: 325px;
        height: 75px;
        background: $c-explore-bg;
        margin: auto;
        font-size: .9rem;
        font-weight: bold;
        border-radius: 25px;
        box-shadow: $c-bg-shadow 0px 5px 3px;
        &:hover, &:active {
            cursor: pointer;
            background: $c-bg-howto;
            i {
                color: $c-primary;
            }
        }
        &__circle {
            width: 24px;
            height: 24px;
            position: relative;
            transform: translateX(-50%);
            border-radius: 50%;
            color: $white;
            background: $c-primary;
            font-size: .7rem;
            text-align: center;
            line-height: 24px;
        }
        i {
            width: 20px;
            margin-left: 5px;
            margin-right: 15px;
            text-align: center;
            color: $c-explore-txt;
        }
    }
}

/* Restaurants */
.restaurant {
    background: $c-explore-bg;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
        padding-left: 20px;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    &__box {
        display: flex;
        justify-content: center;
        transition: .3s;
        &:hover {
            transform: scale(1.05);
        }
        &--img {
            width: 325px;
            height: 175px;
            border-radius: 20px 20px 0 0px;
            box-shadow: -4px 3px 5px $c-explore-txt, 4px 3px 5px $c-explore-txt;
            span {
                background: $c-tertiary;
                color: darken($c-tertiary, 30%);
                font-size: .9rem;
                font-weight: bold;
                text-align: center;
                line-height: 30px;
                padding: 5px 10px;
                border-radius: 2px;
                position: relative;
                top: 20px;
                right: -215px;
            }
            &.img__palette {
                background: url("../../ress/img/restaurant/palette.jpg") center/100% no-repeat;
            }
            &.img__note {
                background: url("../../ress/img/restaurant/note.jpg") center/100% no-repeat;
            }
            &.img__francaise {
                background: url("../../ress/img/restaurant/francaise.jpg") center/100% no-repeat;
            }
            &.img__delice {
                background: url("../../ress/img/restaurant/delice.jpg") center/100% no-repeat;
            }
        }
        &--content {
            height: 75px;
            background: $white;
            display: flex;
            flex-direction: row;
            border-radius: 0 0 20px 20px;
            box-shadow: -4px 3px 10px $c-explore-txt, 4px 3px 10px $c-explore-txt;
            h2 {
                font-size: 1rem;
            }
            p {
                font-size: .9rem;
                font-family: "Roboto Light", sans-serif;
            }
            &-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;
                padding-left: 10px
            }
            &-right {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                font-size: 1.5rem;
            }
            .invisible {
                position: absolute;
                transform: translateX(-30px);
                display: none;
                color: $c-primary;
            }
            .visible {
                transition: .5s;
                &:hover {
                    color: $c-primary;
                    .invisible {
                        display: inline-block;
                    }
                }
            }
        }
    }
}