/* Lieu */
.location {
    @extend %flex;
    background: $c-bg;
    color: $c-bg-txt;
    height: 50px;
    box-shadow: inset 0px 3px 5px $c-bg-shadow;
    i {
        transform: translateX(-25px);
        font-size: 1.1rem;
    }
    p {
        font-size: 0.9rem;
        transform: translateX(-5px);
    }
}

/* Explorer */
.explore {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin: auto;
    background: $c-explore-bg;
    text-align: center;
    h1 {
        padding: 40px 55px 20px 55px;
        font-size: 1.3rem;
    }
    p {
        color: $c-bg-txt;
        padding: 0 40px;
        font-size: .8rem;
    }
    button {
        margin: 35px 0 0 0;
        padding: 0 20px;
        border-radius: 50px;
        box-shadow: $c-bg-shadow 0px 5px 3px;
    }
}

/* Fonctionnement */
.how-to {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 65px;
    h1 {
        padding-left: 20px;
        font-size: 1.1rem;
    }
    .guide-how-to {
        display: flex;
        align-items: center;
        width: 325px;
        height: 75px;
        background: $c-explore-bg;
        margin: auto;
        font-size: .9rem;
        font-weight: bold;
        border-radius: 25px;
        box-shadow: $c-bg-shadow 0px 5px 3px;
        &:hover, &:active {
            cursor: pointer;
            background: $c-bg-howto;
            i {
                color: $c-primary;
            }
        }
        &__circle {
            width: 24px;
            height: 24px;
            position: relative;
            transform: translateX(-50%);
            border-radius: 50%;
            color: $white;
            background: $c-primary;
            font-size: .7rem;
            text-align: center;
            line-height: 24px;
        }
        i {
            width: 20px;
            margin-left: 5px;
            margin-right: 15px;
            text-align: center;
            color: $c-explore-txt;
        }
    }
}

/* Restaurants */
.restaurant {
    background: $c-explore-bg;
    padding: 50px 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
        padding-left: 20px;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    &__box {
        display: flex;
        justify-content: center;
        transition: .3s;
        &:hover {
            transform: scale(1.05);
        }
        &--img {
            width: 325px;
            height: 175px;
            border-radius: 20px 20px 0 0px;
            box-shadow: -4px 3px 5px $c-explore-txt, 4px 3px 5px $c-explore-txt;
            span {
                background: $c-tertiary;
                color: darken($c-tertiary, 30%);
                font-size: .9rem;
                font-weight: bold;
                text-align: center;
                line-height: 30px;
                padding: 5px 10px;
                border-radius: 2px;
                position: relative;
                top: 20px;
                right: -215px;
            }
            &.img__palette {
                background: url("ress/img/restaurant/palette.jpg") center/100% no-repeat;
            }
            &.img__note {
                background: url("ress/img/restaurant/note.jpg") center/100% no-repeat;
            }
            &.img__francaise {
                background: url("ress/img/restaurant/francaise.jpg") center/100% no-repeat;
            }
            &.img__delice {
                background: url("ress/img/restaurant/delice.jpg") center/100% no-repeat;
            }
        }
        &--content {
            height: 75px;
            background: $white;
            display: flex;
            flex-direction: row;
            border-radius: 0 0 20px 20px;
            box-shadow: -4px 3px 10px $c-explore-txt, 4px 3px 10px $c-explore-txt;
            h2 {
                font-size: 1rem;
            }
            p {
                font-size: .9rem;
                font-family: "Roboto Light", sans-serif;
            }
            &-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;
                padding-left: 10px
            }
            &-right {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                font-size: 1.5rem;
            }
            .test {
                -webkit-mask-image: url("ress/img/heart-solid.svg");
                mask-image: url("ress/img/heart-solid.svg");
                background: linear-gradient(315deg, $c-primary 20%, $c-secondary 100%); 
            }
            .invisible {
                position: absolute;
                transform: translateX(-30px);
                display: none;
                color: transparent;
                -webkit-mask-image: url("ress/img/heart-solid.svg");
                mask-image: url("ress/img/heart-solid.svg");
                background: linear-gradient(315deg, $c-primary 20%, $c-secondary 100%);
            }
            .visible {
                transition: .5s;
                &:hover {
                    color: $c-primary;
                    .invisible {
                        display: inline-block;
                        opacity: 0;
                        animation: menu .5s forwards;
                    }
                }
            }
        }
    }
}

/* Section Menu des Restaurants (Pages Restaurants) */ 

.restaurant__menu {
    margin-top: -55px;
    padding-bottom: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    max-width: 375px;
    height: auto;
    background: $c-explore-bg;
    border-radius: 45px 45px 0 0;
    &--title{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        width: 100%;
        font-size: 1.3rem;
        padding: 35px 0;
        h2 {
            font-family: "Shrikhand", cursive;
            font-weight: normal;
            font-size: 1.3rem;
        }
        i:hover {
            color: $c-primary;
            cursor: pointer;
        }
    }
    h3 {
        font-size: 1.2rem;
        font-family: "Roboto Light";
        font-style: normal;
        text-transform: uppercase;
        margin-left: 20px;
        padding-bottom: 5px;
        color: $c-bg-txt-light;
    }
    &--underline {
        display: block;
        height: 4px;
        width: 60px;
        background: $c-tertiary;
        margin-left: 20px;
    }
    &--container .restaurant__menu--box:last-of-type{
        margin-bottom: 35px;
    }
    &--box {
        display: flex;
        flex-direction: column;
        background: $white;
        width: 90%;
        height: auto;
        margin: auto;
        margin-top: 15px;
        border-radius: 15px;
        box-shadow: 0px 3px 5px $c-bg-shadow;
        opacity: 0;
        &:hover{
            cursor: pointer;
        }
        h4 {
            padding-left: 10px;
            padding-top: 15px;
            font-family: "Roboto Medium", sans-serif;
            font-size: .85rem;
        }
        .price {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 8px 10px 15px 10px;
            p {
                max-height: 1rem;
                font-size: .7rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $c-bg-txt-light;
            }
            span {
                padding: 0 20px 0 15px;
            }
        }
    }
    .animation__box{
        &--one {
            animation: menu 1s forwards;
        }
        &--two {
            animation: menu 1s .2s forwards;
        }
        &--three {
            animation: menu 1s .4s forwards;
        }
        &--four {
            animation: menu 1s .6s forwards;
        }
        &--five {
            animation: menu 1s .8s forwards;
        }
        &--six {
            animation: menu 1s 1s forwards;
        }
        &--seven {
            animation: menu 1s 1.2s forwards;
        }
        &--eight {
            animation: menu 1s 1.4s forwards;
        }
        &--nine {
            animation: menu 1s 1.6s forwards;
        }
        &--ten {
            animation: menu 1s 1.8s forwards;
        }
    }
    button {
        width: 55%;
        margin: auto;
        text-align: center;
        border-radius: 25px;
        margin-top: 45px;
    }
}