.location, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loader {
  0%, 95% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes menu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Fonts for the website */
@font-face {
  font-family: "Shrikhand";
  src: url("ress/font/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("ress/font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("ress/font/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("ress/font/Roboto-Light.ttf");
}
/* universal rules + reset of some rules */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Roboto Medium", sans-serif;
}

button {
  all: unset;
  cursor: pointer;
  height: 50px;
  color: #fff;
  background: linear-gradient(0deg, #9356DC 20%, #FF79DA 100%);
  box-shadow: #CFCFCF 0px 5px 3px;
}
button:hover {
  opacity: 0.85;
  box-shadow: darkgray 0px 5px 3px;
}

/* header */
header {
  width: 100%;
  height: 65px;
}
header img {
  width: 165px;
  height: 35px;
}
header a,
header a:visited {
  position: absolute;
  left: 30px;
  color: #333;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 25px;
  background-color: #353535;
  color: white;
  font-size: 0.75rem;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 25px 0 10px 0;
}
footer .footer--flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer a,
footer a:visited {
  color: white;
}
footer a .fa-utensils,
footer a:visited .fa-utensils {
  padding-right: 10px;
  font-size: 0.8rem;
}
footer a .fa-hands-helping,
footer a:visited .fa-hands-helping {
  padding-right: 10px;
  font-size: 0.5rem;
}
footer a:hover {
  text-decoration: underline;
}
footer:last-of-type {
  padding-bottom: 40px;
}

/* main : image des restaurants */
.restaurant__banner img {
  object-fit: cover;
  width: 100%;
  height: 265px;
}

/* loader */
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  background: #EAEAEA;
  animation: loader 2s forwards;
  animation-iteration-count: 1;
}
.loader__circle {
  width: 200px;
  height: 200px;
  border: 5px solid transparent;
  border-radius: 50%;
  border-left-color: #9356DC;
  border-right-color: #FF79DA;
  animation: loader-circle 1.5s linear infinite;
}
.loader p {
  margin-top: 50px;
  color: #7D7D7D;
}

/* Lieu */
.location {
  background: #EAEAEA;
  color: #333;
  height: 50px;
  box-shadow: inset 0px 3px 5px #CFCFCF;
}
.location i {
  transform: translateX(-25px);
  font-size: 1.1rem;
}
.location p {
  font-size: 0.9rem;
  transform: translateX(-5px);
}

/* Explorer */
.explore {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  margin: auto;
  background: #F6F6F6;
  text-align: center;
}
.explore h1 {
  padding: 40px 55px 20px 55px;
  font-size: 1.3rem;
}
.explore p {
  color: #333;
  padding: 0 40px;
  font-size: 0.8rem;
}
.explore button {
  margin: 35px 0 0 0;
  padding: 0 20px;
  border-radius: 50px;
}

/* Fonctionnement */
.how-to {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 65px;
}
.how-to h1 {
  padding-left: 20px;
  font-size: 1.1rem;
}
.how-to--flex {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.how-to .guide-how-to {
  display: flex;
  align-items: center;
  width: 325px;
  height: 75px;
  background: #F6F6F6;
  margin: auto;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: #CFCFCF 0px 5px 3px;
}
.how-to .guide-how-to:hover, .how-to .guide-how-to:active {
  cursor: pointer;
  background: #f5edff;
}
.how-to .guide-how-to:hover i, .how-to .guide-how-to:active i {
  color: #9356DC;
}
.how-to .guide-how-to__circle {
  width: 24px;
  height: 24px;
  position: relative;
  transform: translateX(-50%);
  border-radius: 50%;
  color: #fff;
  background: #9356DC;
  font-size: 0.7rem;
  text-align: center;
  line-height: 24px;
}
.how-to .guide-how-to i {
  width: 20px;
  margin-left: 5px;
  margin-right: 15px;
  text-align: center;
  color: #7D7D7D;
}

/* Restaurants */
.restaurant {
  background: #F6F6F6;
  padding: 50px 0 60px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant h1 {
  padding-left: 20px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.restaurant-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  border-radius: 20px;
  box-shadow: -5px 3px 5px #CFCFCF, 5px 3px 5px #CFCFCF;
}
.restaurant__box:hover {
  transform: scale(1.05);
}
.restaurant__box--img {
  width: 325px;
  height: 175px;
  border-radius: 20px 20px 0 0px;
}
.restaurant__box--img span {
  background: #99E2D0;
  color: #32b091;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  padding: 5px 10px;
  border-radius: 2px;
  position: relative;
  top: 20px;
  right: -215px;
}
.restaurant__box--img.img__palette {
  background: url("ress/img/restaurant/palette.jpg") center/100% no-repeat;
}
.restaurant__box--img.img__note {
  background: url("ress/img/restaurant/note.jpg") center/100% no-repeat;
}
.restaurant__box--img.img__francaise {
  background: url("ress/img/restaurant/francaise.jpg") center/100% no-repeat;
}
.restaurant__box--img.img__delice {
  background: url("ress/img/restaurant/delice.jpg") center/100% no-repeat;
}
.restaurant__box--content {
  width: 325px;
  height: 75px;
  background: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 0 0 20px 20px;
}
.restaurant__box--content h2 {
  font-size: 1rem;
}
.restaurant__box--content p {
  font-size: 0.9rem;
  font-family: "Roboto Light", sans-serif;
}
.restaurant__box--content a, .restaurant__box--content a:visited {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding-left: 10px;
}
.restaurant__box--content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 1.5rem;
}
.restaurant__box--content .invisible {
  position: absolute;
  display: none;
  color: transparent;
  -webkit-mask-image: url("ress/img/heart-solid.svg");
  mask-image: url("ress/img/heart-solid.svg");
  background: linear-gradient(315deg, #9356DC 20%, #FF79DA 100%);
  transform: translateX(-30px);
}
.restaurant__box--content .visible {
  transition: 0.5s;
}
.restaurant__box--content .visible:hover, .restaurant__box--content .visible:active {
  color: #9356DC;
  cursor: pointer;
}
.restaurant__box--content .visible:hover .invisible, .restaurant__box--content .visible:active .invisible {
  display: inline-block;
  opacity: 0;
  animation: menu 0.5s forwards;
}

/* Section Menu des Restaurants (Pages Restaurants) */
main {
  background: #F6F6F6;
}

.restaurant__menu {
  margin: -55px auto 0 auto;
  padding-bottom: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  min-width: 375px;
  height: auto;
  background: #F6F6F6;
  border-radius: 45px 45px 0 0;
}
.restaurant__menu--title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  font-size: 1.3rem;
  padding: 35px 0;
}
.restaurant__menu--title h2 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.3rem;
}
.restaurant__menu--title .invisible {
  position: absolute;
  display: none;
  color: transparent;
  -webkit-mask-image: url("ress/img/heart-solid.svg");
  mask-image: url("ress/img/heart-solid.svg");
  background: linear-gradient(315deg, #9356DC 20%, #FF79DA 100%);
  transform: translateX(-25px);
}
.restaurant__menu--title .visible {
  transition: 0.5s;
}
.restaurant__menu--title .visible:hover, .restaurant__menu--title .visible:active {
  color: #9356DC;
  cursor: pointer;
}
.restaurant__menu--title .visible:hover .invisible, .restaurant__menu--title .visible:active .invisible {
  display: inline-block;
  opacity: 0;
  animation: menu 0.5s forwards;
}
.restaurant__menu h3 {
  font-size: 1.2rem;
  font-family: "Roboto Light";
  font-style: normal;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 30px;
  padding-bottom: 5px;
  color: #616161;
}
.restaurant__menu--underline {
  display: block;
  height: 4px;
  width: 60px;
  background: #99E2D0;
  margin-left: 20px;
}
.restaurant__menu--box {
  display: flex;
  background: #fff;
  width: 95%;
  max-width: 450px;
  height: auto;
  margin: auto;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #CFCFCF;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
}
.restaurant__menu--box .dish {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.6rem;
  white-space: nowrap;
  width: 90%;
  transition: 0.5s;
}
.restaurant__menu--box .dish h4 {
  font-family: "Roboto Medium", sans-serif;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu--box .dish p {
  max-height: 1rem;
  font-size: 0.7rem;
  color: #616161;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu--box .price {
  display: flex;
  width: 10%;
  padding-top: 2rem;
  transition: 0.5s;
  padding-left: 0.75rem;
}
.restaurant__menu--box .checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  transition: 0.5s;
  width: 50px;
  transform: translateX(101%);
}
.restaurant__menu--box .checked i {
  font-size: 1.25rem;
  color: #fff;
  transform: rotate(-360deg);
  transition: 0.5s;
}
.restaurant__menu--box:hover, .restaurant__menu--box:active {
  cursor: pointer;
}
.restaurant__menu--box:hover .dish, .restaurant__menu--box:active .dish {
  width: calc(90% - 70px);
}
.restaurant__menu--box:hover .price, .restaurant__menu--box:active .price {
  transform: translateX(-25px);
}
.restaurant__menu--box:hover .checked, .restaurant__menu--box:active .checked {
  transform: translateX(1px);
  width: 70px;
}
.restaurant__menu--box:hover .checked i, .restaurant__menu--box:active .checked i {
  transform: rotate(0deg);
}
.restaurant__menu .animation__box--entry-one {
  animation: menu 0.8s forwards;
}
.restaurant__menu .animation__box--entry-two {
  animation: menu 0.8s 0.3s forwards;
}
.restaurant__menu .animation__box--entry-three {
  animation: menu 0.8s 0.6s forwards;
}
.restaurant__menu .animation__box--entry-four {
  animation: menu 0.8s 0.9s forwards;
}
.restaurant__menu .animation__box--dish-one {
  animation: menu 0.8s 0.9s forwards;
}
.restaurant__menu .animation__box--dish-two {
  animation: menu 0.8s 1.2s forwards;
}
.restaurant__menu .animation__box--dish-three {
  animation: menu 0.8s 1.5s forwards;
}
.restaurant__menu .animation__box--dessert-one {
  animation: menu 0.8s 1.8s forwards;
}
.restaurant__menu .animation__box--dessert-two {
  animation: menu 0.8s 2.1s forwards;
}
.restaurant__menu .animation__box--dessert-three {
  animation: menu 0.8s 2.4s forwards;
}
.restaurant__menu button {
  width: 210px;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  margin-top: 45px;
  display: block;
}

/* Css uniquement pour la page "contact.html" */
.contact {
  display: flex;
  flex-direction: column;
  color: #99E2D0;
  background: #353535;
  width: 100%;
  min-height: 100vh;
  height: auto;
}
.contact header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.contact header h1 {
  margin: 20px 0 10px 0;
  font-family: "Shrikhand", cursive;
}
.contact header h2 {
  margin-bottom: 10px;
}
.contact header hr {
  width: 100%;
  color: #99E2D0;
}
.contact section {
  margin-left: 25px;
  margin-right: 25px;
}
.contact .mail {
  padding-top: 25px;
}
.contact input, .contact textarea {
  all: unset;
  background: #CFCFCF;
  color: #333;
  padding: 8px 5px;
  margin: 10px 0;
  box-sizing: border-box;
}
.contact textarea {
  width: 100%;
  height: 200px;
  word-wrap: break-word;
}
.contact .send {
  display: flex;
  justify-content: center;
}
.contact .send button {
  border-radius: 25px;
  padding: 5px;
  margin-top: 10px;
  box-shadow: none;
}
.contact .send button:hover {
  opacity: 0.9;
  box-shadow: none;
}
.contact .return {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.contact .return a, .contact .return a:visited {
  color: #99E2D0;
  font-size: 2rem;
}

/* media queries */
@media all and (min-width: 375px) {
  body {
    width: 100%;
    min-width: 375px;
  }
}
@media all and (min-width: 501px) {
  .restaurant__menu {
    max-width: 500px;
    box-shadow: inset 6px 0px 5px #CFCFCF, inset -6px 0px 5px #CFCFCF;
  }
}
@media all and (min-width: 768px) {
  header a,
header a:visited {
    left: 60px;
    font-size: 1.3rem;
  }

  .restaurant-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .restaurant__menu {
    min-width: 500px;
    max-width: 70%;
  }

  .restaurant__banner img {
    height: 285px;
  }

  .left,
.middle,
.right {
    margin: 0 1rem;
  }

  footer .footer--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media all and (min-width: 900px) {
  .how-to h1 {
    margin: auto;
  }

  .restaurant h1 {
    margin: auto;
  }
}
footer h1 {
  margin: auto;
}

@media all and (min-width: 950px) {
  header img {
    width: 200px;
  }
  header a,
header a:visited {
    left: 75px;
    font-size: 1.5rem;
  }

  .explore p {
    font-size: 0.9rem;
  }

  .restaurant__box--img {
    width: 375px;
    height: 200px;
  }
  .restaurant__box--img span {
    top: 25px;
    right: -260px;
  }
  .restaurant__box--content {
    width: 375px;
  }

  .restaurant__menu--title h2 {
    font-size: 1.5rem;
  }
  .restaurant__menu button {
    width: 250px;
  }

  .restaurant__banner img {
    height: 300px;
  }

  .left,
.middle,
.right {
    margin: 0 3rem;
  }

  footer {
    font-size: 0.85rem;
  }
  footer h1 {
    font-size: 1rem;
  }
  footer a .fa-hands-helping,
footer a:visited .fa-hands-helping {
    font-size: 0.75rem;
  }
}
@media all and (min-width: 1050px) {
  .how-to--flex {
    justify-content: space-evenly;
    flex-direction: row;
    gap: 0;
  }

  .restaurant-container {
    gap: 30px;
  }

  .left,
.middle,
.right {
    margin: 0 5rem;
  }
}
@media all and (min-width: 1175px) {
  header {
    height: 100px;
  }
  header img {
    width: 400px;
    height: 50px;
  }
  header a,
header a:visited {
    left: 100px;
    font-size: 1.8rem;
  }

  .how-to {
    max-width: 1440px;
    margin: auto;
  }
  .how-to--flex {
    margin: 0 5%;
  }
  .how-to h1 {
    font-size: 1.5rem;
  }

  .restaurant .restaurant-container {
    max-width: 1440px;
    margin: auto;
  }
  .restaurant h1 {
    font-size: 1.5rem;
  }
  .restaurant .restaurant__box--img {
    width: 500px;
    height: 250px;
  }
  .restaurant .restaurant__box--img span {
    top: 35px;
    right: -365px;
  }
  .restaurant .restaurant__box--content {
    width: 500px;
    height: 100px;
  }

  .restaurant__banner img {
    height: 350px;
  }

  footer h1 {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 1400px) {
  .left,
.middle,
.right {
    margin: 0;
  }

  .restaurant__menu {
    min-width: 80%;
    max-width: 1150px;
  }
  .restaurant__menu--flex-container {
    display: flex;
    justify-content: space-evenly;
  }
  .restaurant__menu--box {
    width: 350px;
  }
  .restaurant__menu .animation__box--entry-one {
    animation: menu 0.8s forwards;
  }
  .restaurant__menu .animation__box--entry-two {
    animation: menu 0.8s 0.3s forwards;
  }
  .restaurant__menu .animation__box--entry-three {
    animation: menu 0.8s 0.6s forwards;
  }
  .restaurant__menu .animation__box--entry-four {
    animation: menu 0.8s 0.9s forwards;
  }
  .restaurant__menu .animation__box--dish-one {
    animation: menu 0.8s forwards;
  }
  .restaurant__menu .animation__box--dish-two {
    animation: menu 0.8s 0.3s forwards;
  }
  .restaurant__menu .animation__box--dish-three {
    animation: menu 0.8s 0.6s forwards;
  }
  .restaurant__menu .animation__box--dessert-one {
    animation: menu 0.8s forwards;
  }
  .restaurant__menu .animation__box--dessert-two {
    animation: menu 0.8s 0.3s forwards;
  }
  .restaurant__menu .animation__box--dessert-three {
    animation: menu 0.8s 0.6s forwards;
  }

  .restaurant__banner img {
    height: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
